<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <p>This website is a work in progress. It will highlight my research accomplishments/ideas and possibly some personal projects. My interests include multimodal neuroimaging, in particular fMRI, and is application to mental health and psychiatry. Outside of science I watch and play football, listen to a ton of music and aspire to evetually create some.</p>
      </div>
    </div>
  </div>
</section>
